.rightBar {
  position: fixed;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  right: 0;
  top: 0;
  background-color: rgb(249, 249, 249);
  padding: 1.5rem 2.5rem;
  padding-bottom: 3.6rem;
  width: 390px;
  height: 100vh;
}
.rightTop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.AccountInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.userName {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}
.userName h3 {
  font-size: 0.9rem;
  color: rgb(151, 151, 151);
}
.accountimg {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  background-color: skyblue;
  margin-left: 0.5rem;
}
.accountimg img {
  width: 100%;
  height: 100%;
  background-position: center;
}

.rightMid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.todoTitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.todoTitle h2 {
  font-size: 1.3rem;
  font-weight: 700;
  color: rgb(16, 57, 240);
}
.addOpt {
  margin-top: 0;
}
.addOpt a {
  text-decoration: none;
  color: white;
}
.searchOpt {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  color: rgb(151, 151, 151);
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
}
.searchOpt a {
  text-decoration: none;
  color: rgb(151, 151, 151);
}

.todoTasks {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  padding: 0.5rem;
}

.bookTripBtn {
  justify-self: flex-end;
  text-decoration: none;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(16, 57, 240);
}
.todoTasksDate {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  color: rgb(151, 151, 151);
}
.todoTasksDate h3 {
  font-size: ;
  font-weight: 500;
  text-transform: capitalize;
  margin-right: 0.8rem;
  vertical-align: middle;
}

.todoTasksDes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.desSeparater {
  width: 3px;
  height: 81%;
  border-radius: 2px;
  background-color: sandybrown;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
.desRight {
  flex-grow: 1;
}

.desLeft h2 {
  font-size: 1.1rem;
  font-weight: 700;
  color: rgb(68, 99, 236);
}
.desLeft h4,
.desRight h4 {
  font-size: 0.9rem;
  color: rgb(151, 151, 151);
}

.todoTasks .todoTasksDes:nth-child(1) .desSeparater {
  background-color: sandybrown;
  box-shadow: 0px 0px 30px 1px rgba(218, 142, 91, 0.75);
}
.todoTasks .todoTasksDes:nth-child(2) .desSeparater {
  background-color: rgb(96, 244, 96);
  box-shadow: 0px 0px 30px 1px rgba(168, 238, 127, 0.75);
}
.todoTasksDes:nth-child(4) .desSeparater {
  background-color: rgb(16, 19, 230);
  box-shadow: 0px 0px 30px 1px rgba(84, 148, 231, 0.75);
}
.list {
  position: absolute;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border: 1px solid #ccc;
  list-style-type: none;
  padding: 0;
  margin-top: 36px;

  width: auto;
  display: inline-block;
  z-index: 16;
}
.list-item {
  padding: 8px;
  cursor: pointer;
  background-color: white;
}
.list-item:hover,
.list-item:active {
  background-color: #f3f3f3;
}
